

.main {
  padding-top: 0rem;
}

.intro{
  max-width: '20%'; 
  margin-top: '15rem';
  padding-left:'3rem';
}

.image{
  border-radius: 30%;
}

.card{
  align-self: 'center'
}

.column{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.textA{
  position:"absolute";
  top:50%; 
  left:50%;
  transform: translate(-50%, -50%); 
  font-size:12px;
}
