

.main {
  padding-top: 0rem;
}

.intro{
  max-width: '20%'; 
  margin-top: '15rem';
  padding-left:'3rem';
}

.image{
  border-radius: 30%;
}

.card{
  align-self: 'center'
}


.textA{
  position:absolute;
  top:30%; 
  left:50%;
  transform: translate(-50%, -50%); 
  font-size:40px;
}

.textB{
  position:absolute;
  top:50%;
  left:50%; 
  transform:translate(-50%, -50%);
  font-size:40px;
}

@media (max-width: 450px){
  .textA{
    position:absolute;
    top:30%; 
    left:50%;
    transform: translate(-50%, -50%); 
    font-size:20px;
  }
  .textB{
    position:absolute;
    top:60%;
    left:50%; 
    transform:translate(-50%, -50%);
    font-size:12px;
  }
}

@media (max-width: 850px){
  .textA{
    position:absolute;
    top:30%; 
    left:50%;
    transform: translate(-50%, -50%); 
    font-size:40px;
  }
  .textB{
    position:absolute;
    top:60%;
    left:50%; 
    transform:translate(-50%, -50%);
    font-size:20px;
  }
}