

.main {
  padding-top: 0rem;
}

.intro{
  max-width: '20%'; 
  margin-top: '15rem';
  padding-left:'3rem';
}

.image{
  border-radius: 30%;
}

.cards{
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media (max-width: 799px){
  .textA{
    position:absolute;
    top:30%; 
    left:50%;
    transform: translate(-50%, -50%); 
    font-size:20px;
    font-weight: bold;
  }
  .textB{
    position:absolute;
    top:70%;
    left:50%; 
    transform:translate(-50%, -50%);
    font-size:12px;
  }

}

@media (orientation: portrait) and (max-width:520px){
  .cards{
    width: 8rem;
    font-size: 12px;
  }
}

@media (min-width:800px){
  .textA{
    position:absolute;
    top:30%; 
    left:50%;
    transform: translate(-50%, -50%); 
    font-size:40px;
    font-weight: bold;
  }
  .textB{
    position:absolute;
    top:55%;
    left:50%; 
    transform:translate(-50%, -50%);
    font-size:20px;
  }
}